<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Folder containing the source .lst files -->
    <add key="SourceFolder" value="C:\Development\cobolcode\FD" />
    <!-- Full path for the CSV output file -->
    <add key="OutputFile" value="C:\Development\cobolcode\FD\output.csv" />
    <!-- Optional: file extension filter, defaults to "*.lst" if not specified -->
    <add key="FileExtension" value="*.*" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>